*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;

}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;

}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #1F316F;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #FFFFFF;
    border-bottom: 1px solid #1F316F;
    z-index: 1;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}


nav ul li a:hover {
    text-decoration: underline;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    background: #55679C;
}

section {
    display: flex;
    margin: auto
}

.moto {
    text-align: left;
}

.kolom {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #1F316F;
    margin-top: 120px;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 20px;
    color: #1F316F;
    width: 100%;
    line-height: 50px;
    margin-top: 20px;
}

a.tbl-biru {
    background: #55679C;
    border-radius: 40px;
    margin: auto;
    padding: 15px 90px 15px 90px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    line-height: 80px;
    text-align: center;
    text-decoration: none;
}

a.tbl-univ {
    background: #55679C;
    border-radius: 40px;
    margin: auto;
    padding: 15px 70px 15px 70px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    line-height: 80px;
    text-align: center;
}

a.tbl-kasir{
    background: #55679C;
    border-radius: 40px;
    margin: auto;
    padding: 15px 145px 15px 145px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    line-height: 80px;
    text-align: center;
    text-decoration: none;
}

a.tbl-kalkulator {
    background: #55679C;
    border-radius: 40px;
    margin: auto;
    padding: 15px 115px 15px 115px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    line-height: 80px;
    text-align: center;
    text-decoration: none;
}

a.tbl-web {
    background: #55679C;
    border-radius: 40px;
    margin: auto;
    padding: 15px 160px 15px 160px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    line-height: 80px;
    text-align: center;
    text-decoration: none;
}

a.tbl-biru:hover {
    background: #41B3A2;
}

a.tbl-univ:hover {
    background: #41B3A2;
}

a.tbl-kasir:hover {
    background: #41B3A2;
}

a.tbl-kalkulator:hover {
    background: #41B3A2;
}

a.tbl-web:hover{
    background: #41B3A2;
}

#contact {
    background: #7C93C3;
    padding: 50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h4 {
    font-family: 'comic sans ms' ;
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 5px;
    color: #1F316F;
    width: 100%;
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 40px;
}
    
@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    } 

    section img {
        display: block;
        width: auto;
        height: 100%;
    }

    .tbl-biru {
        display: block;
    }

    .tbl-univ {
        display: block;
    }

    .tbl-kasir {
        display: block;
    }

    .tbl-kalkulator {
        display: block;
    }
    
    .tbl-web {
        display: block;
    }
}